.person {
    border: 2px solid black;
    border-radius: 5px;
    background-color: cadetblue;
    width: fit-content;
    padding: 20px;
    width: 200px;
}

details{
    padding-left: 20px;
}

img{
    margin-top: 20px;
    width: 150px;
}

.interests{
    word-wrap: normal;
}

button{
    border: 1px solid black;
}